.footer {
    background-color: #f8f9fa;
    position: relative;
    width: 100%;
}

.div_vazia{
    height: 300px;
    display: block;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-social-icons a {
    color: #333;
    margin-right: 10px;
    font-size: 24px;
}

.div_vazia{
    height: 320px;
    display: block;

}

.input_form {
    border: 2px solid #605eff;
    padding: 5px;
    transition: box-shadow 1s ease;
    border-radius: 10px;
}

.input_form:focus {
    box-shadow: 0 0 5px rgba(0, 38, 255, 1);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.subdivision {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
}
.facil {
    background-color: rgba(144, 238, 144, 0.4); /* Light green */
}
.medio {
    background-color: rgba(255, 255, 0, 0.4); /* Light yellow */
}
.dificil {
    background-color: rgba(255, 99, 71, 0.4); /* Light red */
}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    padding: 10px;
}
.item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.item:hover img {
    opacity: 1;
}
a.item {
    text-decoration: none;
    color: black;
    text-align: center;
}