.footer {
    background-color: #f8f9fa;
    position: relative;
    width: 100%;
}

.div_vazia{
    height: 300px;
    display: block;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-social-icons a {
    color: #333;
    margin-right: 10px;
    font-size: 24px;
}

.div_vazia{
    height: 320px;
    display: block;

}

.input_form {
    border: 2px solid #605eff;
    padding: 5px;
    transition: box-shadow 1s ease;
    border-radius: 10px;
}

.input_form:focus {
    box-shadow: 0 0 5px rgba(0, 38, 255, 1);
}