{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='chatgpt.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <h1 style="padding-top: 20px;" >ChatGPT</h1>
    <hr>

    <p>Tire suas dúvidas sobre a água com o ChatGPT :) Perguntas fora desse escopo serão recusadas.</p>

    <div id="chat-container">
        <div id="chat-log"></div>
        <input type="text" id="user-input" />
        <button onclick="sendMessage()">Send</button>
    </div>

    <div class="chat-placeholder"></div>

{% endblock %}  