<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i>BlueSaver</a>
                </div>
                <div class="footer-social-icons">
                    <a href="#"><i class="fab fa-twitter"></i>@BlueSaver</a>
                </div>
                <div class="footer-social-icons">
                    <a href="#"><i class="fab fa-instagram"></i>@BlueSaver</a>
                </div>
            </div>
            <div class="col-md-6 text-md-end">
                <p>Projeto da Matéria de MC426</p>
                <p>Endereço: R. Saturnino de Brito, 573
                    <br>Cidade Universitária, Campinas - SP
                    <br>CEP: 13083-852</p>
            </div>
        </div>
    </div>
</footer>