{% extends "base.html" %}

{% block content %}
    <h1>Quiz</h1>
    <hr>

    <label for="dificuldade">Selecione a dificuldade:</label><br>
    <div class="btn-group" role="group" aria-label="Dificuldade">
        <button type="button" id="dificuldade" class="btn btn-success btn-dificuldade" data-dificuldade="Fácil">Fácil</button>
        <button type="button" id="dificuldade" class="btn btn-warning btn-dificuldade" data-dificuldade="Médio">Médio</button>
        <button type="button" id="dificuldade" class="btn btn-danger btn-dificuldade" data-dificuldade="Difícil">Difícil</button>
    </div>

    <br><br>

    <label for="perguntas">Perguntas:</label>
    <ul id="perguntas"></ul>

    <br><br>

    <label for="respostas">Respostas:</label>
    <div id="respostas"></div>

    <br><br>

    <button id="verificar">Verificar Respostas</button>

    <br><br>

    <div id="resultado"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Evento de clique nos botões de dificuldade
            $('.btn-dificuldade').click(function() {
                var dificuldade = $(this).data('dificuldade');

                // Remove todas as classes de cor dos botões de dificuldade
                $('.btn-dificuldade').removeClass('btn-success btn-warning btn-danger');

                // Adiciona a classe de cor correta com base na dificuldade selecionada
                if (dificuldade === 'Fácil') {
                    $(this).addClass('btn-success');
                } else if (dificuldade === 'Médio') {
                    $(this).addClass('btn-warning');
                } else if (dificuldade === 'Difícil') {
                    $(this).addClass('btn-danger');
                }

                $.ajax({
                    url: '/quiz',
                    type: 'POST',
                    data: { Dificuldade: dificuldade },
                    success: function(response) {
                        // Limpar as perguntas e respostas anteriores
                        $('#perguntas').empty();
                        $('#respostas').empty();

                        // Preencher as perguntas e respostas
                        var letras = ['a', 'b', 'c', 'd', 'e'];
                        $.each(response, function(key, value) {
                            if (key.startsWith('Pegunta')) {
                                var pergunta = value;
                                var item = $('<li>').text(pergunta);
                                $('#perguntas').append(item);
                            }
                            if (key.startsWith('Opcoes')) {
                                var opcoes = value[0];
                                var div = $('<div>');
                                $.each(opcoes, function(letra, resposta) {
                                    var radio = $('<input>').attr('type', 'radio').attr('name', 'respostas').val(letra);
                                    var label = $('<label>').text(letras[letra] + ') ' + resposta);
                                    div.append(radio).append(label).append('<br>');
                                });
                                $('#respostas').append(div);
                            }
                        });
                    }
                });
            });
            $('#verificar').click(function () {
                var dificuldade = $('#dificuldade').val();
                var respostas = $('input[name=respostas]:checked').map(function () {
                    return $(this).val();
                }).get();
                $.ajax({
                    url: '/verificar_respostas',
                    type: 'POST',
                    data: {Dificuldade: dificuldade, Respostas: respostas},
                    success: function (response) {
                        // Exibir o resultado das respostas
                        var resultado = $('<div>').html('<h3>Resultado:</h3>');
                        $.each(response, function (key, value) {
                            var linha = $('<p>').text(key + ': ' + value);
                            resultado.append(linha);
                        });
                        $('#resultado').html(resultado);
                    }
                });
            });
        });
    </script>
{% endblock %}
