{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename='quiz.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/raphael@2.3.0/raphael.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/justgage@1.6.1/dist/justgage.min.js"></script>
    <h1>Quiz</h1>
    <hr>

    <audio id='bgsong' src="/static/sons/forest-river-with-whirls.mp3" autoplay loop>
        <p>Your browser does not support the audio element.</p>
    </audio>

    <input type="range" id = "volumeslider" min="0" max="100" step="1" value="100" onchange="setVolume(this.value)" oninput="setVolume(this.value)"/>
    <br><br>
    <button id="mutar" class="button" onclick="mute_all()">Ativar/desativar efeitos sonoros</button>

    <br><br>

    <div id="quiz-container">
        <h2 id="question"></h2>
        <ul id="options"></ul>
        <button id="submit">Submit</button>
    </div>


    <!-- 
        Antigo código
        <br><br>
    <label for="dificuldade">Selecione a dificuldade:</label><br>
    <div class="btn-group" roles="group" aria-label="Dificuldade">
        <button type="button" id="dificuldade" class="btn btn-success btn-dificuldade" data-dificuldade="Fácil" onclick="sound_bubble()">Fácil</button>
        <button type="button" id="dificuldade" class="btn btn-warning btn-dificuldade" data-dificuldade="Médio" onclick="sound_bubble()">Médio</button>
        <button type="button" id="dificuldade" class="btn btn-danger btn-dificuldade" data-dificuldade="Difícil" onclick="sound_bubble()">Difícil</button>
    </div>

    <br><br>

    <label for="perguntas">Perguntas:</label>
    <ul id="perguntas"></ul>
    
    <br><br>
    
    <label for="respostas">Respostas:</label>
    <ul id="respostas"></ul>

    <br><br>

    <button id="verificar" class='button' onclick="sound_piano()">Verificar Respostas</button>

    <br><br>

    <div id="resultado">
        <h3>Resultado:</h3>
        <div id="gauge"></div>
    </div> -->
{% endblock %}
